body {
    margin: 0px;
}

#header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    color: #ffffff;
    background-color: #333333;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

h1 a:link {
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: none;
}

h1 a:visited {
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: none;
}

h1 a:hover {
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: underline;
}

#navigation {
    text-align: right;
}

#navigation ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    float: left;
    padding: 5px;
}

.nav-highlighted {
    background-color: #b51496;
    border: 1px solid #8e44ad;
    border-radius: 4px;
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: none;
}

.nav-default {
    background-color: #9b59b6;
    border: 1px solid #8e44ad;
    border-radius: 4px;
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: none;
}

#cta {
    text-align: center;
    padding: 180px 10px 140px 10px;
}

#email {
    background-color: #f5f5f5;
    padding: 8px;
    border: 1px solid #dedede;
    border-radius: 4px;
}

#submit {
    background-color: #9b59b6;
    border: 1px solid #8e44ad;
    border-radius: 4px;
    color: #ffffff;
    padding: 8px;
    font-weight: bold;
}

#cta h2 {
    font-size: 3em;
}

#cta h3 {
    font-size: 1em;
}

#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 80px 20px;
    color: #ffffff;
    background-color: #333333;
    color: #333333;
    background-color: #f8f8f8;
    border-top: 5px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2;
}

#about-img {
    border-radius: 8px;
    -webkit-box-shadow: 7px 5px 16px -8px rgba(115,115,115,1);
    -moz-box-shadow: 7px 5px 16px -8px rgba(115,115,115,1);
    box-shadow: 7px 5px 16px -8px rgba(115,115,115,1);
}

#about .item-one {
    flex: .5;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 80px 20px;
}

#articles a:link {
    color: #9b59b6;
    text-decoration: none;
}

#articles a:visited {
    color: #9b59b6;
    text-decoration: none;
}

#articles a:hover {
    color: #9b59b6;
    text-decoration: underline;
}

#social {
    background-color: #333333;
    color: #ffffff;
    padding: 80px 20px;
}

#social-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.item-one {
    order: 1;
    flex: 1;
    padding: 10px;
}

.item-two {
    order: 2;
    flex: 1;
    padding: 10px;
}

.item-three {
    order: 3;
    flex: 1;
    padding: 10px;
}

.item-four {
    order: 4;
    flex: 1;
    padding: 10px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    display: inline;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
    #header {
        flex-direction: row;
    }

    #cta h2 {
        font-size: 4em;
    }

    #cta h3 {
        font-size: 1.5em;
    }

    #about {
        flex-direction: row;
    }

    #about h2 {
        font-size: 2em;
    }

    #articles {
        flex-direction: row;
    }

    #articles h2 {
        font-size: 2em;
    }

    #social-icons {
        flex-direction: row;
    }

    #social h2 {
        font-size: 2em;
    }
}

/* Large Screens */
@media (min-width: 901px) {
    #header {
        flex-direction: row;
    }

    #cta h2 {
        font-size: 4em;
    }

    #cta h3 {
        font-size: 1.5em;
    }

    #about {
        flex-direction: row;
    }

    #about h2 {
        font-size: 2em;
    }

    #articles {
        flex-direction: row;
    }

    #articles h2 {
        font-size: 2em;
    }

    #social-icons {
        flex-direction: row;
    }

    #social h2 {
        font-size: 2em;
    }
}